
@import "~/.config/rofi/colors.rasi"
configuration {
  modi: "drun";
}

window {
  border: 1px;
  border-radius: 25px;
  border-color: @selected;
  width: 75%;
  height: inherit;
  background-color: @background;
}

/* ---- Mainbox ---- */
mainbox {
  children:
    ["listview"];
}
inputbar {
    children: [ ];
}
inputbar {
    enabled: false;
}
entry {
  expand: true;
  placeholder: " 󰸉 Choose Wallpaper";
  horizontal-align: 0.01;
  horizontal-align: 0.01;
  background-color: @background-alt;
  text-color: @foreground;
}

/* ---- Listview ---- */
listview {
  spacing: 20px;
  padding: 10px;
  columns: 6;
  lines: 3;
  flow: horizontal;
  fixed-width: true;
  fixed-height: true;
  cycle: true;
  background-color: @background;
}

/* ---- Element ---- */
element {
  orientation: vertical;
  padding: 0px;
  spacing: 0px;
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
}

element normal.normal {
    border: 2px;
    
    border-color:            transparent;
    text-color:                  @tertiary;
}
element normal.active {
    border: 2px;
    border-color:                @active;
    text-color:                  @selected-text;
}

element selected.normal {
    border: 2px;
    border-color:                @selected;
    text-color:                  @selected-text;
}

element selected.active {
    border: 2px;
    border-color:                @active;
    text-color:                  @selected-text;
}
// Adapt rofi theme
element alternate.normal {
    border: 2px;
    border-color:                transparent;
    text-color:                  @tertiary;
}
element alternate.active {
    border: 2px;
    border-color:                @active;
    text-color:                  @selected-text;
}


element-icon {
    text-color:                  inherit;
    size:                        30%;
    margin:                      -30px;
    cursor:                      inherit;
}

element-text {
    enabled: false;
}
